html {
    min-height: 100%;
    position: relative;
}
body {
    background-image: url("../images/connect_@2X.png");
}

#title h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:48px;
    font-display: bolder;
    margin: 0 auto;
    text-align: center;
}

.gifs:hover {
    background-color: #4aaaa5;
    color: #fff;
}

#add-giphy {
    background-color: #4aaaa5;
    color: #fff;
    margin: 10px 5px;
}

.gifs {
    background-color: lightgoldenrodyellow;
}

.gifBorder {
    border: solid 1px #4aaaa5;
    margin: 5px;
}

.gifView {
    display: inline-block;
    padding: 5px 10px;
}

.rating {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 5px;
    text-align: center;
}