html {
    min-height: 100%;
    position: relative;
}
body {
    background-image: url("../images/connect_@2X.png");
}

#title h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:48px;
    font-display: bolder;
    margin: 0 auto;
    text-align: center;
}

.gifs {
    background-color: lightgoldenrodyellow;
}